/*入场动画*/
.fade-enter{
   opacity: 0;
}
.fade-enter-active{
   opacity: 1;
   transition: opacity 1s ease;
}
.fade-enter-done{
   opacity: 1;
}
/*出场动画*/
.fade-exit{
   opacity: 1;
}
.fade-exit-active{
   opacity: 0;
   transition: opacity 1s ease;
}
.fade-exit-done{
   opacity: 0;
}